<!DOCTYPE html>
<html lang="en-us" class="splash">
<head>
    <meta charset="utf-8" />
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Mike Wright">
    <meta name="designer" content="Mike Wright">
    <meta name="publisher" content="Mike Wright">
    <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#04B0F2" />
    <meta name="description" content="It's All Water, LLC - Freelance Software Development" />
    <meta name="keywords" content="ASP.NET,C#,SQL,T-SQL,SSIS,SSRS,MultiValue,PickBASIC,Pick,D3,jBASE,CSS,HTML,Software Development,Web Applications,Web Design,Freelancer">
    <meta name=”robots” content=”index,follow”>
    <meta name="distribution" content="web">
    <title>@ViewData["Title"] - It's All Water, LLC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127913068-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-127913068-1');
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header></header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <a id="home" href="#home" aria-controls="home" alt="Home">
            <div class="text-center">
                <img src="~/images/logos/original/logo-transparent.png" class="img-fluid" alt="It's All Water, LLC'" />
            </div>
        </a>
        <nav class="nav nav-pills nav-fill justify-content-center h5 mb-5">
            <a class="nav-item nav-link" data-toggle="tab" href="#about" aria-controls="about" alt="About">ABOUT</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#portfolio" aria-controls="portfolio" alt="Portfolio">PORTFOLIO</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#contact" aria-controls="contact" alt="Contact">CONTACT</a>
        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <footer class="footer text-muted text-center">
            <div class="container">
                &copy; 2015-@System.DateTime.Now.Year - It's All Water, LLC - <a asp-area="" asp-page="/Privacy" alt="Privacy">Privacy</a>
            </div>
        </footer>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
