
@font-face {
  font-family: "Iconfiy Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconfiy Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.bx\:bx-code-block:before {
content: "\e001";
}

.i.carbon\:sql:before {
content: "\e002";
}

.i.cib\:vue-js:before {
content: "\e003";
}

.i.ic\:baseline-email:before {
content: "\e004";
}

.i.icomoon-free\:profile:before {
content: "\e005";
}

.i.mdi\:basketball-hoop-outline:before {
content: "\e006";
}

.i.mdi\:language-csharp:before {
content: "\e007";
}

.i.si-glyph\:database:before {
content: "\e008";
}

.i.simple-icons\:angellist:before {
content: "\e009";
}

.i.simple-icons\:azurefunctions:before {
content: "\e00a";
}

.i.simple-icons\:docker:before {
content: "\e00b";
}

.i.simple-icons\:dot-net:before {
content: "\e00c";
}

.i.simple-icons\:git:before {
content: "\e00d";
}

.i.simple-icons\:github:before {
content: "\e00e";
}

.i.simple-icons\:hackerrank:before {
content: "\e00f";
}

.i.simple-icons\:java:before {
content: "\e010";
}

.i.simple-icons\:javascript:before {
content: "\e011";
}

.i.simple-icons\:linkedin:before {
content: "\e012";
}

.i.simple-icons\:microsoftazure:before {
content: "\e013";
}

.i.simple-icons\:mongodb:before {
content: "\e014";
}

.i.simple-icons\:pluralsight:before {
content: "\e015";
}

.i.simple-icons\:stackoverflow:before {
content: "\e016";
}

.i.simple-icons\:twitter:before {
content: "\e017";
}

.i.simple-icons\:typescript:before {
content: "\e018";
}

.i.simple-icons\:visualstudiocode:before {
content: "\e019";
}

